
*{
  
   overflow: hidden;

}

.form-group{
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    width:44%;
    height:92.2%;
    text-align: center;
    margin-left: 25%;
    font-family: Chalkduster, fantasy;
    background-color: rgb(225, 198, 0);;
    border-radius: 10%;
    box-shadow: 0 0 20 black;
}

.form-group input{
   width: 50%;
   margin-left: 25%;
   margin-top: 10px;
   text-align: center;
   border-radius: 15%;
   
}

.form-group h1, h2{     
   background-color: black;
   color:  rgb(225, 198, 0);
   border-radius: 5%;
  
}
.result h2{
   margin-top: 20px;
   color: rgb(225, 198, 0);
   background-color: #000;
   border-radius: 10%;
}

#resultado {
   display: flex;
   height: 110px;
   text-transform: uppercase;
   width: 80%;
   margin-left: 50px;
   align-items: center;
   padding: 10px;
   text-align: center;  
   background-color: #000;
   color: rgb(225, 198, 0);
   border-radius: 5%;
  
}

/* Responsividade */

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

   .form-group{
      width: 90%;
      margin-left: 20px;
   }
   #resultado{
     margin-left: 35px;

   }
 }

 /*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) { 
   .form-group{
      width: 90%;
      margin-left: 50px;
   }
   #resultado{
     margin-left: 45px;

   }
}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
   .form-group{
      width: 90%;
      margin-left: 50px;
   }
   #resultado{
     margin-left: 45px;

   }
}
    